:root {
  // Fonts
  --font-family-main: Poppins, sans-serif;
  --font-family-title: Smooch Sans, sans-serif;
  --font-family-code: Share Tech Mono, monospace;

  // Colors
  --accent-color: #58a6ff;
}
