:root {
  // Fonts
  --font-family-main: Inter, sans-serif;
  --font-family-title: 'Russo One', sans-serif;
  --font-family-code: JetBrains Mono, monospace;

  --caption-size: 12px;
  --caption-line: 20px;

  //S size
  --text-size-s: 14px;
  --text-line-s: 22px;

  --title-size-s: 24px;
  --title-line-s: 32px;

  // M size
  --text-size-m: 16px;
  --text-line-m: 24px;

  --title-size-m: 32px;
  --title-line-m: 40px;

  // L size
  --text-size-l: 18px;
  --text-line-l: 26px;

  --title-size-l: 40px;
  --title-line-l: 48px;

  --font-main: var(--text-size-m) / var(--text-line-m) var(--font-family-main);
  --font-title: var(--title-size-l) / var(--title-line-l)
    var(--font-family-title);

  // Colors
  --light-font-color: #f4f6f8;
  --accent-color: #58a6ff;
  --secondary-color: #adb5bd;
  --error-color: #ff0000;
  --sun-light-color: #ffcc33;
  --moon-gray-color: #c2c5cc;

  // Border
  --ui-border-radius: 15px;
  --block-border-radius: 30px;
  --error-border: 2px solid var(--error-color);

  // Opacity
  --disabled-opacity: 0.5;

  // Sizes
  --ui-height: 50px;
  --container-width: 80vw;

  // Backdrop
  --frosted-glass-blur: blur(10px);
}
