.calendarGrid {
  display: grid;
  gap: 5px;

  &.days {
    grid-template-columns: repeat(7, 1fr);
  }

  &.months {
    grid-template-columns: repeat(3, 1fr);
  }

  &.years {
    grid-template-columns: repeat(3, 1fr);
  }
}

.button {
  &.selected {
    background-color: var(--accent-color);
  }

  &.today {
    border-color: var(--accent-color);
  }
}
