@use '@/shared/styles/font' as *;
@use '@/shared/styles/block' as *;

.button {
  width: 100%;
  @include font;

  &:not(.readOnly) {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &.main {
      height: var(--ui-height);
      color: var(--light-font-color);
      background-color: var(--accent-color);
      border-radius: var(--ui-border-radius);
    }

    &.outline {
      @include block;
    }

    &:disabled {
      opacity: var(--disabled-opacity);
    }

    &.accent {
      background-color: var(--accent-color);
    }
  }

  &.readOnly,
  &.clear {
    width: fit-content;
    height: fit-content;
  }
}
