@use '@/shared/styles/font' as *;
@use '@/shared/styles/block' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @include font;

  &.main {
    width: 100%;
    height: var(--ui-height);
    color: var(--light-font-color);
    background-color: var(--accent-color);
    border-radius: var(--ui-border-radius);
  }

  &.outline {
    width: 100%;
    @include block;
  }

  &.clear {
    width: fit-content;
    height: fit-content;
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
