.button {
  display: block;
  z-index: 2;

  &.main {
    width: 100%;
    height: var(--ui-height);
    color: var(--light-font-color);
    background-color: var(--accent-color);
    border-radius: var(--ui-border-radius);
  }

  &.clear {
    width: fit-content;
    height: fit-content;
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }
}
