.searchProfiles {
  position: relative;
}

.toolbar {
  position: sticky;
  top: 132px;
  //z-index: 30;
  display: grid;
  grid-template-columns: 1fr 100px;
  margin-bottom: 30px;
  gap: 10px;
}

.icon {
  height: 50px;
  fill: var(--secondary-color);
}

.list {
  display: grid;
  gap: 20px;

  &.tiles {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
