.inputWrapper {
  position: relative;

  &:has(.icon) .input {
    padding: 0 20px 0 calc(10% + 20px);
  }
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--inverted-primary-color);
  color: var(--primary-color);
  border-radius: var(--main-border-radius);

  &::placeholder {
    color: var(--secondary-color);
  }

  &.main {
    padding: 0 20px;
  }

  &.error {
    outline: 2px solid var(--error-color);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 90%;
  height: 50%;
  transform: translateY(-50%);
  fill: var(--primary-color);
}

.loader {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputWrapper:has(.input:focus) ~ .errorList {
  max-height: 200px;
}

.errorList {
  margin-top: 5px;
  width: 100%;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  list-style: disc;
}
