@use '@/shared/styles/font' as *;
@use '@/shared/styles/field' as *;

.input {
  width: 100%;

  @include font;

  &:read-write {
    height: var(--ui-height);
    @include field(0 20px);
  }

  &:read-only {
  }
}

.inputWrapper {
  position: relative;

  &:has(.icon) .input {
    padding: 0 20px 0 calc(10% + 20px);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 90%;
  height: 50%;
  transform: translateY(-50%);
  fill: var(--inverted-primary-color);
}

.loader,
.toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.passwordIcon {
  fill: var(--accent-color);
  width: 30px;
}
