.inputWrapper {
  position: relative;
  width: min-content;
  height: min-content;
}

.input {
  background-color: var(--inverted-primary-color);
  color: var(--primary-color);
  border-radius: var(--main-border-radius);

  &::placeholder {
    color: var(--primary-color);
  }
}

.image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--bg-color);
}
