@use '@/shared/styles/block' as *;

.block {
  position: relative;
  z-index: 0;
  padding: 20px;

  &:has(.panel) {
    margin-top: 50px;
  }

  &.main:before,
  &.small:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    @include block;
  }

  &.small {
    width: fit-content;
  }

  &.clear {
    padding: 0;
  }

  &:hover > .deleteBtn {
    visibility: visible;
  }

  & .deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
  }
}

.panel {
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cross {
  width: 20px;
  fill: var(--error-color);
}

.plus {
  width: 20px;
  fill: var(--accent-color);
}
