@use '@/shared/styles/block' as *;

.block {
  position: relative;
  padding: 20px;

  &.main {
    @include block;
  }

  &.small {
    @include block;
    width: fit-content;
  }

  &.clear {
    padding: 0;
  }

  &:hover > .deleteBtn {
    visibility: visible;
  }
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
}

.deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  visibility: hidden;
}

.addBtn {
}

.cross {
  width: 20px;
  fill: var(--error-color);
}

.plus {
  width: 20px;
  fill: var(--accent-color);
}
