.select {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.button {
  flex: 1;
  z-index: 2;
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  transform: translateX(0);
  background-color: var(--accent-color);
  border-radius: var(--ui-border-radius);
  transition: transform 300ms ease;
}
