@use '@/shared/styles/block' as *;

.select {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--ui-border-radius);
}

#button {
  flex: 1;
  height: 100%;
  z-index: 2;
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  transform: translateX(-100%);
  background-color: var(--accent-color);
  border-radius: var(--ui-border-radius);
  transition:
    transform 300ms ease,
    opacity 300ms ease;
}
