@mixin block() {
  //background: rgba(28, 28, 28, 0.6);
  backdrop-filter: var(--frosted-glass-blur);
  -webkit-backdrop-filter: var(--frosted-glass-blur);
  outline: 1px solid rgba(255, 255, 255, 0.15);
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: var(--ui-border-radius);
}
