$sizes: (
  XS: xs,
  S: s,
  M: m,
  L: l,
  XL: xl,
  XXL: xxl
);

@mixin font() {
  @each $name, $key in $sizes {
    &.#{$name} {
      font-size: var(--font-size-#{$key});
      line-height: var(--font-line-#{$key});
    }
  }
}
