.actionBar {
  width: var(--container-width);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.separator {
  width: 2px;
  background-color: var(--secondary-color);
}
