.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  border-radius: var(--ui-border-radius);

  &:not(:has(.select)) .themeSwitcher {
    margin-left: auto;
  }
}

.select {
  margin-left: auto;
  flex: 1;
  max-width: 400px;
  height: 40px;
}
