.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--container-width);
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.select {
  flex: 1;
  max-width: 400px;
  height: 40px;
}

.button {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
}
