.profileSearch {
  position: relative;
  overflow: hidden auto;

  &.skeleton {
    overflow: hidden;
  }
}

.profileList {
  padding: 0 20px;
}

.searchFilter {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 30px;
}
