.datePicker {
  position: relative;

  &:not(.readOnly) {
    &.days {
      min-width: 260px;
    }
    &.months {
      min-width: 220px;
    }

    &.years {
      min-width: 90px;
    }
  }
}

.button {
  height: 100%;

  &.isFocus {
    border-color: var(--accent-color);
  }
}

.calendar {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(calc(-100% - 10px));
  display: none;

  &.isActive {
    display: block;
  }
}
