.notificationItemWrapper {
  overflow: hidden;
  animation: notificationSlideIn 800ms ease forwards;

  &.deleted {
    animation: notificationSlideOut 800ms ease forwards;
  }
}

.notificationItem {
  position: relative;
  border: 1px solid var(--inverted-primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  padding: 15px;
  margin-top: 20px;

  &:hover {
    .deleteBtn {
      visibility: visible;
    }
  }
}

.cross {
  width: 20px;
  fill: var(--error-color);
}

.deleteBtn {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes notificationSlideIn {
  from {
    max-height: 0;
    transform: translateX(calc(-100% - 15px));
  }
  to {
    max-height: 500px;
    transform: translateX(0);
  }
}

@keyframes notificationSlideOut {
  0% {
    max-height: 500px;
    transform: translateX(0);
  }
  50% {
    max-height: 500px;
    transform: translateX(calc(-100% - 15px));
  }
  100% {
    max-height: 0;
    transform: translateX(calc(-100% - 15px));
  }
}
