.profileCard {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  grid-template-areas: 'image wrapper';
}

.image {
  grid-area: image;
}

.wrapper {
  grid-area: wrapper;
}

.bio {
  margin-top: 5px;
  height: max-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
