.profileCard {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  grid-template-areas:
    'image wrapper'
    'bio bio';
}

.image {
  grid-area: image;
}

.wrapper {
  grid-area: wrapper;
}

.bio {
  grid-area: bio;
}
