.dropDown {
  position: relative;
}

.items {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  flex-direction: column;
  gap: 5px;

  &.isActive {
    display: flex;
  }
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.icon {
  height: 20px;
  width: 20px;
  fill: var(--inverted-primary-color);
}
