@use '@/shared/styles/field' as *;
@use '@/shared/styles/font' as *;

.textarea {
  display: block;
  resize: none;
  overflow: hidden;
  width: 100%;
  outline: none;

  @include font;
  @include field;
}
