@use '@/shared/styles/field' as *;
@use '@/shared/styles/font' as *;

.textarea {
  resize: none;
  width: 100%;
  overflow: hidden;

  @include font;

  &:read-write {
    @include field;
  }

  &:focus {
    outline: none;
  }
}
