@use '@/shared/styles/field' as *;
@use '@/shared/styles/font' as *;

.textarea {
  resize: none;
  overflow: hidden;
  width: 100%;

  @include font;

  &:read-write {
    @include field(none);
    padding: 15px;
  }

  &:focus {
    outline: none;
  }
}
